@import "tailwindcss";

:root {
  --color-primario: #8F42CD;
  --color-secundario: linear-gradient(90deg, #2B2B30 0%, #302B63 50%, #2C5364 100%);
}

html,
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .1rem;
  background: linear-gradient(90deg, #2B2B30 0%, #302B63 50%, #2C5364 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
